<div class="container">
  <div class="row">
    <div class="col">
    <table class="table">
      <thead>
      <tr>
      <th scope="col">Tag</th>
      <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let scooter of scooters;" (click)="selectScooter(scooter)"
          [ngClass]="{ 'selected': scooter === selectedScooter }">
        <th> {{scooter.tag}} </th>
        <td> {{scooter.status}}</td>

      </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" (click)='addRandomScooter();' > Add scooter</button>
  </div>
  <div class="col">
  <app-detail32 (scooterDelete)="onDeletedScooter($event)" *ngIf="selectedScooter; else noneSelected" [scooter]="selectedScooter" >
  </app-detail32>
  </div>
  <ng-template #noneSelected>
    <p>niks te zien</p>
  </ng-template>
</div>
</div>
