<div class="home">
  <div class="row">
    <div class="col-md text-center my-sidebar">
      <div class="form-group city-select-list">
        <select class="form-select text-center " aria-label="Default select example">
          <option selected>Amsterdam</option>
          <option value="1">Alkmaar</option>
          <option value="2">Utrecht</option>
          <option value="3">Rotterdam</option>
        </select>
        <ul class="list-group text-center">
          <ng-container>

            <li class="list-group-item d-flex justify-content-between align-items-center">
            Leidseplein
              <span class="badge bg-primary">4</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
             Museumplein
              <span class="badge bg-primary">10</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Amstelveenweg
              <span class="badge bg-primary">2</span>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
    <div class="col-md text-center">
      <div class="row">
        <div class="column">
          <a href="#" class="imglink"><img class="scooter-img" src="https://images.pexels.com/photos/221299/pexels-photo-221299.jpeg?cs=srgb&dl=pexels-pixabay-221299.jpg&fm=jpg"></a>
          <a href="#" class="imglink"><img class="scooter-img" src="https://images.pexels.com/photos/1045535/pexels-photo-1045535.jpeg?cs=srgb&dl=pexels-cátia-matos-1045535.jpg&fm=jpg"></a>
          <a href="#" class="imglink"><img class="scooter-img" src="https://images.pexels.com/photos/2174656/pexels-photo-2174656.jpeg?cs=srgb&dl=pexels-ajay-donga-2174656.jpg&fm=jpg"></a>
          <a href="#" class="imglink"><img class="scooter-img" src="https://images.pexels.com/photos/1643775/pexels-photo-1643775.jpeg?cs=srgb&dl=pexels-deva-darshan-1643775.jpg&fm=jpg"></a>
          <a href="#" class="imglink"><img class="scooter-img" src="https://images.pexels.com/photos/221299/pexels-photo-221299.jpeg?cs=srgb&dl=pexels-pixabay-221299.jpg&fm=jpg"></a>
          <a href="#" class="imglink"><img class="scooter-img" src="https://images.pexels.com/photos/1045535/pexels-photo-1045535.jpeg?cs=srgb&dl=pexels-cátia-matos-1045535.jpg&fm=jpg"></a>
          <a href="#" class="imglink"><img class="scooter-img" src="https://images.pexels.com/photos/2174656/pexels-photo-2174656.jpeg?cs=srgb&dl=pexels-ajay-donga-2174656.jpg&fm=jpg"></a>
          <a href="#" class="imglink"><img class="scooter-img" src="https://images.pexels.com/photos/1643775/pexels-photo-1643775.jpeg?cs=srgb&dl=pexels-deva-darshan-1643775.jpg&fm=jpg"></a>
          <a href="#" class="imglink"><img class="scooter-img" src="https://images.pexels.com/photos/221299/pexels-photo-221299.jpeg?cs=srgb&dl=pexels-pixabay-221299.jpg&fm=jpg"></a>
        </div>
      </div>
    </div>
    <div class="col-md text-center my-sidebar">
      <h1 class="mt-5">Welkom bij E-bikes Amesterdam</h1>
      <button type="button" class="btn btn-primary">Subscribe</button>
    </div>
  </div>
</div>

