<div class="app">
  <div class="row">

    <div class="column" id="column-left">

      <p>
        <button type="button" id="citybutton" class="btn btn-outline-primary"
                aria-controls="collapseExample">
          Amsterdam
        </button>
      </p>

      <div class="card">
        <ul class="list-group">
          <li class="list-group-item location">Leidseplein <span class="badge badge-light"></span></li>
          <li class="list-group-item location">Haarlemmerweg <span class="badge badge-light"></span></li>
          <li class="list-group-item location">Amstelveenseweg <span class="badge badge-light"></span></li>
        </ul>
      </div>


    </div>

    <div class="column" id="column-middle">

      <div class="row">
        <div class="column">
          <a href="#" class="imglink"><img class="scooter-img"
                                           src="https://images.pexels.com/photos/221299/pexels-photo-221299.jpeg?cs=srgb&dl=pexels-pixabay-221299.jpg&fm=jpg"></a>
          <a href="#" class="imglink"><img class="scooter-img"
                                           src="https://images.pexels.com/photos/1045535/pexels-photo-1045535.jpeg?cs=srgb&dl=pexels-cátia-matos-1045535.jpg&fm=jpg"></a>
          <a href="#" class="imglink"><img class="scooter-img"
                                           src="https://images.pexels.com/photos/2174656/pexels-photo-2174656.jpeg?cs=srgb&dl=pexels-ajay-donga-2174656.jpg&fm=jpg"></a>
          <a href="#" class="imglink"><img class="scooter-img"
                                           src="https://images.pexels.com/photos/1643775/pexels-photo-1643775.jpeg?cs=srgb&dl=pexels-deva-darshan-1643775.jpg&fm=jpg"></a>
          <a href="#" class="imglink"><img class="scooter-img"
                                           src="https://images.pexels.com/photos/221299/pexels-photo-221299.jpeg?cs=srgb&dl=pexels-pixabay-221299.jpg&fm=jpg"></a>
          <a href="#" class="imglink"><img class="scooter-img"
                                           src="https://images.pexels.com/photos/1045535/pexels-photo-1045535.jpeg?cs=srgb&dl=pexels-cátia-matos-1045535.jpg&fm=jpg"></a>
          <a href="#" class="imglink"><img class="scooter-img"
                                           src="https://images.pexels.com/photos/2174656/pexels-photo-2174656.jpeg?cs=srgb&dl=pexels-ajay-donga-2174656.jpg&fm=jpg"></a>
          <a href="#" class="imglink"><img class="scooter-img"
                                           src="https://images.pexels.com/photos/1643775/pexels-photo-1643775.jpeg?cs=srgb&dl=pexels-deva-darshan-1643775.jpg&fm=jpg"></a>
          <a href="#" class="imglink"><img class="scooter-img"
                                           src="https://images.pexels.com/photos/221299/pexels-photo-221299.jpeg?cs=srgb&dl=pexels-pixabay-221299.jpg&fm=jpg"></a>
        </div>
      </div>

    </div>

    <div class="column" id="column-right">

      <b>Pub Tour</b>
      <p>
        Visit a course of pubs in Amsterdam and get totally wasted
        until your to screwed to even bike home and you have to
        walk incredibly wasted through half the city.
      </p>
      <hr>
      <b>Museum Tour</b>
      <p>
        Visit the most important museums of Amsterdam; van Gogh Museum,
        Rijksmuseum, Stedelijk Museum. Enjoy paintings by the rich variety
        of painters our country produced like; van Gogh, Rembrandt, ...
      </p>
      <hr>
      <button class="btn btn-primary">Subscribe</button>
    </div>
  </div>
</div>
