<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Tag</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let s of this.scootersService.FindAll()"
            (click)='selectScooter($event, s)'>
          <!--          <th> {{s.tag}} </th>-->
          <!--          <td> {{s.status}}</td>-->

          <td [class.highlight]="s.id == selectedScooterId" scope="row" data-label="Tag">{{s.tag}}</td>
          <td [class.highlight]="s.id == selectedScooterId" data-label="Status">{{s.status}}</td>

        </tr>
        </tbody>
      </table>
      <!--      <button type="button" class="btn btn-primary" (click)='addRandomScooter();' > Add scooter</button>-->
    </div>
    <div class="col">
      <app-detail33>
      </app-detail33>
    </div>
  </div>
</div>
