<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Tag</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let s of this.scootersService.FindAll()"
            (click)='selectScooter($event, s)'
            [ngClass]="{ 'selected': s === selectedScooter }">
          <td>{{s.tag}}</td>
          <td>{{s.status}}</td>

        </tr>
        </tbody>
      </table>
      <!--      <button type="button" class="btn btn-primary" (click)='addRandomScooter();' > Add scooter</button>-->
    </div>
    <div class="col">
      <app-detail33 *ngIf="selectedScooter; else noneSelected" [scooter]="selectedScooter">
      </app-detail33>
    </div>
    <ng-template #noneSelected>
      <p><- Klik links op een scooter om meer informatie te zien</p>
    </ng-template>
  </div>
</div>
