<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Tag</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let scooter of this.scootersService.FindAll()"
            (click)='selectScooter($event, scooter)'
            [ngClass]="{ 'selected': scooter === selectedScooter }">
          <td> {{scooter.tag}} </td>
          <td> {{scooter.status}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <app-detail33 *ngIf="selectedScooter; else noneSelected" [scooter]="selectedScooter">
      </app-detail33>
    </div>
    <ng-template #noneSelected>
      <p><- Klik links op een scoter om meer informatie te zien</p>
    </ng-template>
  </div>
</div>
