<div class="container">
<table class="table" style="text-align: center;">
  <thead style="background-color: antiquewhite">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Tag</th>
    <th scope="col">Status</th>
    <th scope="col">Location</th>
    <th scope="col">Mileage</th>
    <th scope="col">Battery Charge</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let scooter of scooters">
    <td>{{ scooter.id }}</td>
    <td>{{ scooter.tag }}</td>
    <td>{{ scooter.status }}</td>
    <td>{{ scooter.gpsLocation }}</td>
    <td>{{ scooter.mileage }} km</td>
    <td>{{ scooter.batteryCharge }}%</td>
  </tr>
  </tbody>
</table>
<button (click)="onNewScooter()" type="button" class="btn btn-primary">Add Scooter</button>

</div>
