<div *ngIf="scooter" >
  <form>
    <input class="form-control" type="text" value="Update scooter {{scooter.tag}} Id: ({{scooter.id}})" aria-label="Disabled input example" disabled readonly>
    <div class="form-group">
      <label for="Tag">Tag</label>
      <input type="text" name="Tag" class="form-control" id="Tag" [(ngModel)]="scooter.tag"/>
    </div>
    <div class="form-group">
      <label for="Status">Status</label>
      <select class="form-select" id="Status" name="Status" aria-label="Default select example" style="cursor: pointer" [(ngModel)]="scooter.status">
        <option>MAINTENANCE</option>
        <option>IN_USE</option>
        <option>IDLE</option>
      </select>
    </div>
    <div class="form-group">
      <label for="Location">GPS-Location</label>
      <input type="text" class="form-control" id="Location" name="Location" [(ngModel)]="scooter.gpsLocation">
    </div>
    <div class="form-group">
      <label for="Mileage">Mileage</label>
      <input type="text" class="form-control" id="Mileage" aria-describedby="emailHelp" name="Mileage" [(ngModel)]="scooter.mileage">
    </div>
    <div class="form-group">
      <label for="Charge">Battery Charge</label>
      <input type="text" class="form-control" id="Charge" name="Battery" [(ngModel)]="scooter.batteryCharge">
    </div>
  </form>
  <br>
  <button type="button" class="btn btn-danger" (click)="deleteAlert()">Delete</button>
</div>


