<div *ngIf="scooterId">
  <div>
  <form>
    <input class="form-control" type="text" value="Update scooter {{originalScooter.tag}}
    Id: ({{editedScooter.id}})" aria-label="Disabled input example" disabled readonly>
    <div class="form-group">
      <label for="Tag">Tag</label>
      <input type="text" name="Tag" class="form-control"
             id="Tag" [(ngModel)]="editedScooter.tag"/>
    </div>
    <div class="form-group">
      <label for="Status">Status</label>
      <select class="form-select" id="Status" name="Status" aria-label="Default select example" style="cursor: pointer"
              [(ngModel)]="editedScooter.status">
        <option>MAINTENANCE</option>
        <option>IN_USE</option>
        <option>IDLE</option>
      </select>
    </div>
    <div class="form-group">
      <label for="Location">GPS-Location</label>
      <input type="text" class="form-control" id="Location" name="Location" [(ngModel)]="editedScooter.gpsLocation">
    </div>
    <div class="form-group">
      <label for="Mileage">Mileage</label>
      <input type="text" class="form-control" id="Mileage" aria-describedby="emailHelp" name="Mileage"
             [(ngModel)]="editedScooter.mileage">
    </div>
    <div class="form-group">
      <label for="Charge">Battery Charge</label>
      <input type="text" class="form-control" id="Charge" name="Battery" [(ngModel)]="editedScooter.batteryCharge">
    </div>
  </form>
  <br>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="onClickButtonCancel()">Cancel</button>
    </div>
    <div class="col">
      <button type="button" [disabled]="!isChanged()" class="btn btn-outline-primary" (click)="onClickButtonReset()">
        Reset
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-primary" (click)="onClickButtonClear()">Clear</button>
    </div>
    <div class="col">
      <button type="button" [disabled]="!isChanged()" class="btn btn-success" (click)="onClickButtonSave()">Save
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-danger" [disabled]="isChanged()" (click)="onClickButtonRemove()">Delete
      </button>
    </div>
  </div>
  </div>
</div>



